* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Text", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 10px;
  color: whitesmoke;
  background-color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 500px;
  height: 500px;
}

button {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
  font-weight: bold;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

.ring {
  border-radius: 10px;
  color: white;
  width: 400px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: #0077ff;
}

#resultmsg {
  border-radius: 10px;
  color: black;
  width: 80%;
  text-align: center;
  padding: 3px;
}

.scoreboard {
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  justify-content: space-around;
}

#yourscore, #pcscore {
    color: gold;
}
